.side-menu-container {
    position: absolute;
    background-color: rgb(46, 46, 46);
    height: calc(100% - 56px);
    display: flex;
    width: 80%!important;
    flex-wrap: wrap;
    margin: 0;
    border: none;
    z-index: 10;
}

.side-menu-container ul {
    margin-top: 100px;
    list-style-type: none;
}

.side-menu-container li {
    border-bottom: 1px white;
    display: flex;
    width: 100%;
    flex-basis: 100%;
    transform: translateX(-100%);
}

.side-menu-container i {
    margin-right: 10px;
}

.side-menu-container a {
    display: flex;
}

.side-menu-container span {
    display: flex;
    align-items: center;
    font-size: 2rem;
}


.sidebar-closed, .sidebar-closed li {
    transform: translateX(-100%);
    transition: .4s ease-in-out;
}
.sidebar-closed {
    transition-delay: .4s;
}

.sidebar-open, .sidebar-open li {
    transform: translateX(0%);
    transition: .4s transform ease-in-out;
}


.sidebar-closed li:first-child {
    transition-delay: .4s;
}

.sidebar-closed li:nth-child(2) {
    transition-delay: .3s;
}

.sidebar-closed li:nth-child(3) {
    transition-delay: .2s;
}

.sidebar-closed li:nth-child(4) {
    transition-delay: .1s;
}

.sidebar-open li:nth-child(2) {
    transition-delay: .1s;
}

.sidebar-open li:nth-child(3) {
    transition-delay: .2s;
}

.sidebar-open li:nth-child(4) {
    transition-delay: .3s;
}
.sidebar-open li:nth-child(5) {
    transition-delay: .4s;
}

.selected {
    border-left: white 2px solid;
    width: 100%;
}


@media screen and (min-width:600px) {
    .side-menu-container {
        display: flex;
        position: unset;
        height: inherit
    }
    .sidebar-open {
        width: 300px !important;
        transition: .4s ease-in-out;
    }

    .sidebar-closed {
        transform: translateX(0);
        transition: .4s ease-in-out;
        transition-delay: .5s;
        width: 50px !important;
    }
    .sidebar-closed li {
        transform: translateX(0);
        transition: .4s linear;
    }
    .sidebar-open span, .sidebar-closed span{
        max-height: 56px;
    }
    .sidebar-open span {
        visibility: hidden;
    }

    .sidebar-closed span {
        animation: .3s fadeIn;
        animation-fill-mode: forwards;
        visibility: visible;
        animation-delay: .4s;
    }

    .sidebar-closed li:first-child>a>span {
        animation: .2s fadeIn;
        animation-fill-mode: forwards;
        transition-delay: .4s;
        animation-delay: .4s;

    }

    .sidebar-closed li:nth-child(2)>a>span {
        animation: .2s fadeIn;
        animation-fill-mode: forwards;
        transform: translateY(-56px);
        transition: .1s linear;
        transition-delay: .3s;
        animation-delay: .3s;
    }

    .sidebar-closed li:nth-child(3)>a>span {
        animation: .2s fadeIn;
        animation-fill-mode: forwards;
        transform: translateY(-112px);
        transition: .2s linear;
        transition-delay: .2s;
        animation-delay: .2s;
    }

    .sidebar-closed li:nth-child(4)>a>span {
        animation: .2s fadeIn;
        animation-fill-mode: forwards;
        transform: translateY(-168px);
        transition: .3s linear;
        transition-delay: .1s;
        animation-delay: .1s;
    }
    .sidebar-closed li:nth-child(5)>a>span {
        animation: .2s fadeIn;
        animation-fill-mode: forwards;
        transform: translateY(-224px);
        transition: .4s linear;
    }

    .sidebar-open li:first-child>a>span {
        animation: .2s fadeOut;
        animation-fill-mode: forwards;
        animation-delay: .4s;
        transition-delay: .4s;

    }

    .sidebar-open li:nth-child(2)>a>span {
        animation: .2s fadeOut;
        animation-fill-mode: forwards;
        transition: .1s linear;
        animation-delay: .4s;
        transition-delay: .4s;
    }

    .sidebar-open li:nth-child(3)>a>span {
        animation: .2s fadeOut;
        animation-fill-mode: forwards;
        transition: .2s linear;
        animation-delay: .4s;
        transition-delay: .4s;

    }

    .sidebar-open li:nth-child(4)>a>span {
        animation: .2s fadeOut;
        animation-fill-mode: forwards;
        transition: .3s linear;
        animation-delay: .4s;
        transition-delay: .4s;

    }
    .sidebar-open li:nth-child(5)>a>span {
        animation: .2s fadeOut;
        animation-fill-mode: forwards;
        transition: .4s linear;
        animation-delay: .4s;
        transition-delay: .4s;
    }

    .ul-close {
        width: 50px!important;
    }

    @keyframes fadeIn {
        0% {
            opacity: 1;
        }
        100% {
            z-index: -1;
            visibility: hidden;
            opacity: 0;
        }
    }
    @keyframes fadeOut {
        0% {
            opacity: 0;
        }
        100% {
            z-index: -1;
            visibility: visible;
            opacity: 1;
        }
    }

}