.side-menu-container {
    background-color: #2c3034;
    -webkit-transition:width .07s linear;
    transition:width .07s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    flex: 1;
}

.sidebar-open {
    width: 300px !important;
}

.sidebar-closed {
    width: 50px !important;
}
.top-image {
    background-color: red;
    height: 30%;
}

.menu-item {
    display: flex;
    align-items: center;
    height: 7%;
    border-bottom: 1px solid white;
}

.menu-item i {
    padding-left: 12px;
}

.menu-item span  {
    height: auto;
    padding-left: 30px;
}
