.list-container {
    background-color: #202428;
    flex-grow: 1;
}

.list-items-container {
    height: 100%;
    /*height: calc(100vh - 56px);*/
    display: flex;
    flex-flow: column;

}
.list-items-container {
    justify-content: center;
    align-items: center;
}

.list-items-container span {
    padding-left: 25px;
    margin-bottom: 5px;
    font-size: 20px;
    color: white;
    align-self: flex-start;
}

.list-items {
    -webkit-box-shadow: inset 0 0 35px 5px rgba(255,255,255,0.1);
    -moz-box-shadow: inset 0 0 35px 5px rgba(255,255,255,0.1);
    box-shadow: inset 0 0 35px 5px rgba(255,255,255,0.1);
    width: calc(100% - 50px);
    height: calc(100% - 160px);
    background-color: #2c3034;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.list-items input {
    width: 100px!important;
    flex: 0 0 10px;
}


.table-container {
    display: flex;
    flex: 1 0;
    height: calc(100% - 50px);
    background-color: #fb0012;
    flex-direction: column;
    justify-content: stretch;
}

.table-container thead{
    width: 100%;
    background-color: green;
    display: flex;
    flex: 0 0 50px;

}

.table-container tr {
    display: flex;
    width: 100%;
    flex-grow: 1;
    background-color: blueviolet;
    justify-content: space-between;

}

.table-container  thead>tr {
    background-color: #092756;
}
.table-container tbody>tr:hover {
    background-color: #61dafb;
}


.table-container th, td {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: flex-start;
}
.table-container th {
    cursor: pointer;
}

.table-container th:last-of-type, th:first-of-type {
    flex-grow: 1.5;
    word-wrap: break-word;
}

.table-container td:last-of-type, td:first-of-type{
    flex-grow: 1.5;
    word-wrap: break-word;
    overflow: auto;
}
.table-container tr:nth-child(2) {
    background-color: green;
}

.search-container {
    align-self: flex-start;
}

.search-container span{
    margin-right: 20px;
}
