.form-content {
    display: flex;
    background-color: rgb(38, 38, 38);
    width: 90%;
}

.form-container {
    width: 90%;
    margin: 0 auto;
}

.form-container button {
    margin-bottom: 20px;
}

.form-container h4 {
    color: white;
}

.review-field-container{
    color: white;
}

@media screen and (min-width: 700px){
    .form-content {
        max-width: 500px;
    }
}